 html {

          width: 100%;
            height: 100%;
            margin: 0;
            padding: 0;
        }

   body {
        /*background-image:url('../img/bg.jpg');*/
       width: 100%;
        height: 100%;
        margin: 0;
        /*padding-top: 20px;*/
        padding-bottom: 60px;
    }
.container{

padding-top:  20px;
  background: white;
}
.app-header{
  background: #9C0000;
  height: 10px;
  width: 100%;
}
#content{
    padding-top: 0;
  float:left;
  width:100%;
  height:100%;
}
#leftsidebar{
margin: 0;
  float: left;
  width: 25%;
  height:100%;
}
#rightsidebar{
  float: right;
  margin: 0 0 0 0;
  padding: 0;
  width: 75%;
}
#footer{
  padding: 5 5 5 5;
  width: 100%;
  float: left;
  text-align: right;
}

.infowindow * {
    font-size: 90%;
    margin: 0
}

#map-tooltip { width: 200px;     height: 20px; color: white; padding: 5px; }
#map-tooltip, .button { -moz-border-radius:5px; -webkit-border-radius:5px; }
#map-tooltip { box-shadow:rgba(0,0,0,0.9) 0 0 5px; -webkit-box-shadow:rgba(0,0,0,0.9) 0 0 5px; -moz-box-shadow:rgba(0,0,0,0.9) 0 0 5px; }
#map-tooltip { background: rgba(10, 10, 10, 0.6); pointer-events: none;}

#map-tooltip{
    font-size: 20px;
    
  display:none;
    position: absolute;
    float: right;
 /*background-image:url('../img/bg.jpg'); */

}

#leftsidebar label {
  font-weight:bold;
    margin: 0 0 0 0;
    font-size: 18px;
    /*line-height: 20px;*/
    padding-right: 10px;
    display: inline-block ;
}
#timeofday{
    display: inline-block;
    width: 75px;
}
#checkboxlist{
    margin-top: 0;
    margin-left: 10px;
    padding-top: 0;
    width: 70%;
    padding-left: 10px;
}
#checkboxlist label{
  font-weight:normal;
    padding-left: 5px;
    display: inline-block ;
    font-size: 11px;
    margin: 0 0 0 0;
    color: #9C0000;
}
#map_canvas{

    width: 900px;
    height: 750px;
    /*width:100%;
    height: 80%;*/
}
#map_canvas { box-shadow:rgba(0,0,0,0.9) 0 0 5px; -webkit-box-shadow:rgba(0,0,0,0.9) 0 0 5px; -moz-box-shadow:rgba(0,0,0,0.9) 0 0 5px; }


#playdiv {
    width:100%;
}

#playdiv label {
    /*float: right;*/
    padding-left: 50px;
    margin: 0 0 0 0;
    font-size: 20px;
    display: inline-block ;

}
#datetime{
    font-size: 20px;
}

#playdiv #slider{
    width: 100%;
    margin-bottom: 20px;
    margin-left: 5px;
      background: #49afcd;
      /*background: #9C0000*/

}
#footer{
  text-align: right;
}

.gm-style-iw{
  /*  width: 250px;
    height: 200px;
    border-radius: 10px;*/
    font-size: 2px;
    /*background-image:url('../img/bg.jpg');*/
}
.geoxml3_infowindow{
font-size: 2px;
}

.selectedCrime {
    background-color: #ffbbbb;
}